<!-- ALLOWOVERWRITE-2BA2671B83558743DDC865C217CB604E -->


 <form [formGroup]="userForm" class="form-horizontal css-form" role="form" (ngSubmit)="update()">
        <mat-tab-group >        	
        	 <mat-tab label="User Details">        	 
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="title" id="userTitle" type="text" placeholder="Title"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="firstName" id="userFirstName" type="text" placeholder="FirstName"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="surname" id="userSurname" type="text" placeholder="Surname"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="email" id="userEmail" type="text" placeholder="Email"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="homeNumber" id="userHomeNumber" type="text" placeholder="HomeNumber"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="mobileNumber" id="userMobileNumber" type="text" placeholder="MobileNumber"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="workNumber" id="userWorkNumber" type="text" placeholder="WorkNumber"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="addressLine1" id="userAddressLine1" type="text" placeholder="AddressLine1"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="addressLine2" id="userAddressLine2" type="text" placeholder="AddressLine2"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="city" id="userCity" type="text" placeholder="City"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="postcode" id="userPostcode" type="text" placeholder="Postcode"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 		</div>
        	 		<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        	 			<div fxFlex>	
	    	            	    				
                         <mat-form-field>                            
                                <input matInput formControlName="country" id="userCountry" type="text" placeholder="Country"  required/>
						</mat-form-field>                       
                        

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 			<div fxFlex>	

        	 			</div>
        	 		</div>
        	 
			 </mat-tab>

        	 
    		
    	<mat-tab label="Task"> 
    				 <ngx-datatable
            class='material'
            [rows]='taskrows'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="40"
            [scrollbarV]="true"
            (page)="onPage($event)">
   						<ngx-datatable-column name="TaskId" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="Name" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="DueDate" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="StartedDate" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="Status" width="300"></ngx-datatable-column> 
   						<ngx-datatable-column name="CompletedDate" width="300"></ngx-datatable-column> 
   			<ngx-datatable-column name="Edit" width="300" prop="taskId">
      <ng-template let-value="value" ngx-datatable-cell-template>
      <button mat-icon-button	routerLink="/admin/task/edit/{{value}}" color="primary"><mat-icon>edit</mat-icon></button>

    </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Delete" width="300" prop="taskId">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button mat-icon-button	(click)="deleteTask(value)" color="warn"><mat-icon>delete</mat-icon></button>

      </ng-template>
    </ngx-datatable-column>			
   			</ngx-datatable>
    				 <a mat-raised-button color="primary" href="/admin/task/add?userUserId={{userView.userId}}">Add</a>
    		</mat-tab>	
    	
        	 
        	 
        	 </mat-tab-group>
   <div style="padding-top: 10px;">
	    <button mat-raised-button color="primary" ng-click="save()">Save</button>
   </div>
        	 
   </form>
