body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .mat-sidenav {
  min-width: 15vw;
}

body .mat-sidenav .mat-button {
  width: 100%;
  position: relative;
  bottom: 0;
  margin: 24px 0;
}

body .demo-content {


}

body .mat-toolbar .mat-icon {
  cursor: pointer;
}

body .mat-toolbar .demo-toolbar {
  'display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

body h1 {
  font-size: 20px;
}

.demo-content {
  /*height: 100%;*/
  /*width: 100%;*/

  /*display: flex;*/
  /*flex-direction: column;*/
  /*box-sizing: border-box;*/
  padding: 32px;
  /*background-color: yellow;*/
  flex: 1 0 auto;
  /*position: relative;*/
}

.app-container2 {
  height: 100%;
}

.app-shell{

}

/*.mat-sidenav-content {
  display: flex !important;
  flex-direction: column;
}*/

.mat-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.app-datatable{
  /*flex: 1 0 auto;*/
  /*display: flex;*/
  width:90%;
  height: 80%;
  /*float: left;*/
  /*background-color: green;*/
  position: absolute;
  /*top :32px;*/
  /*left: 32px;*/
}

.mat-toolbar {
  'width: 100%;
}
